<div class="textbox-container" [ngClass]="{'has-error': error, 'is-focused': isFocused}">
    <label [for]="id" class="textbox-label" [ngClass]="{'label-float': value || isFocused}">
        {{ label }}
    </label>

    <div class="input-container">
        <input [type]="type" [id]="id" [disabled]="disabled" [placeholder]="placeholder" [value]="value"
            (input)="onInputChange($event)" (focus)="onFocus()" (blur)="onBlur()" class="textbox-input" />

        <div *ngIf="type === 'password'" class="toggle-password" (click)="togglePasswordVisibility()">
            <i [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
        </div>
    </div>

    <div *ngIf="error" class="error-message">{{ error }}</div>
</div>