<div class="w-full">
    <label *ngIf="label" class="block mb-1 text-sm font-medium text-gray-700">
        {{ label }}
    </label>


    <div class="relative">
        <span *ngIf="iconStart" class="absolute left-3 top-1/2 -translate-y-1/2 text-gray-400">
            {{ iconStart }}
        </span>

        <input [type]="type" [placeholder]="placeholder" [value]="value" (input)="onChange($event)"
            (blur)="onTouched()" [class]="classTextBox" />

        <span *ngIf="iconEnd" class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-400">
            {{ iconEnd }}
        </span>

    </div>

    <p *ngIf="error" class="mt-1 text-sm text-red-600">{{ error }}</p>

</div>