
// ================ BRAND BLUE  =================
$brand-blue-80: #4248ff;
$brand-blue-100: #2015ff;
$brand-blue-120: #0000cc;
$brand-blue-140: #142580;
$brand-blue-160: #171a53;
// ==============================================

// ================== PURPLE ====================
$purple-80: #b181ff;
$purple-100: #9e62ff;
$purple-120: #7e4ecc;
// ==============================================

// =============== LIGHT BLUE ===================
$light-blue-80: #6597ff;
$light-blue-100: #3f7dff;
$light-blue-120: #3264cc;
// ==============================================

// ================ SEA FOAMS ===================
$seafoam-80: #33d1b4;
$seafoam-100: #00c5a1;
$seafoam-120: #00a687;
// ==============================================

// ================= LIME =======================
$lime-80: #caee3a;
$lime-100: #bdea09;
$lime-120: #a6cc00;
// ==============================================

// ============= BLACK/WHITE/GREY ===============
$grey-80: #f6f6f6;
$grey-100: #cbd5de;
$grey-120: #7d97ad;
$grey-140: #536483;
$text-black: #0b0b0b;
$color-white: #ffffff;
// ==============================================

$error-red: #d73a01;

$primary-color: #02b3e4;
$secondary-color: #2d3c49;
$light-gray: #f3f3f3;
$medium-gray: #dbe2e8;
$dark-gray: #525c65;
$error-color: #ea5252;
$success-color: #42b883;